@media(max-width:2560px) and (min-width:885px){
  .nav-item.dropdown.drop1down{
    display: none;
  }
}

@media(max-width:884px){
  .invi{
    display: none;
  }
  .nav-item.dropdown.drop1down{
    margin-left: -14px;
    font-size: x-small;
    font-weight:1000;
    margin-top: 8px;
  }
  


}

@media(max-width:1100px){
  .child{
    display: none;
  }
}

@media(max-width:400px){
  .mag{
    display: none;
  }
}

@media(max-width:1199px){
  .invi{
    font-size: small;
    font-weight: bold;
  }
  .child{
    font-size: small;
    font-weight: bold;
  }
  
}

@media(max-width:949px){
  .logo{
    width: 80px;
    height: 35px;
  }
  .invi{
    font-size: x-small;
    font-weight:900;
  }
  .navbar.navbar-expand-sm{
    height: 40px;
  }
  .navbar-collapse.ms-4.leftnavbar{
    padding-left: 0px;
    padding-top: 7px;
    
  }
  .navbar-collapse.rightside{
    margin-top: 12px;
  }
  .dropdown-toggle.drop::after {
      display: none !important;
    }
  }


  @media(max-width:623px){
    .logo{
      width: 60px;
      height: 35px;
    
    }
  }

  @media(max-width:575px){
    .navbar-collapse.ms-4.leftnavbar{
      position: absolute;
      top: -10px;
      left: 80px;
    }
  

    .basker{
      /* float: right; */
      flex-direction: row;
      margin-top: -26px;
    
      position: absolute;
      left: 480px;
      
    }
    .magni{
      margin-left: -80px;
    }
    .bell{
      margin-left: -42px;
    }
    .dropdown.drop2{
      margin-left: -10px;
    }

    .logo{
      height: 30px;
      width: 60px;
      position: absolute;
      left: -30px;

      
    }
  }


  @media(max-width:525px) {
    .basker{
    
      flex-direction: row;
      
    
      position: absolute;
      left: 440px;
  }
}

@media(max-width:490px) {
  .basker{
  
    flex-direction: row;
    
  
    position: absolute;
    left: 400px;
}
}

@media(max-width:450px) {
  .basker{
  
    flex-direction: row;
    
  
    position: absolute;
    left: 380px;
}
}

@media(max-width:425px) {
  .basker{
  
    flex-direction: row;
    
  
    position: absolute;
    left: 350px;
}
}

@media(max-width:390px) {
  .basker{
  
    flex-direction: row;
    
  
    position: absolute;
    left: 320px;
}
}

@media(max-width:320px) {
  .basker{
  
    flex-direction: row;
    
  
    position: absolute;
    left: 260px;
}
}